* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 4000px;
  background: rgb(14, 14, 44);
}
.container .nav {
  width: 100%;
  height: 80px;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.container .nav ul {
  display: flex;
  gap: 55px;
}
.container .nav ul li {
  list-style: none;
}
.container .nav .btn .btn1 {
  padding: 9px 17px;
  font-weight: bold;
  border-radius: 6px;
  color: rgb(255, 190, 11);
  border: 1px solid rgb(255, 190, 11);
  background: transparent;
  margin-right: 15px;
  cursor: pointer;
  transition: all linear 0.2s;
}
.container .nav .btn .btn1:hover {
  background: rgb(255, 190, 11);
  color: black;
}
.container .nav .btn .btn2 {
  padding: 9px 17px;
  font-weight: bold;
  border-radius: 6px;
  background: rgb(255, 190, 11);
  cursor: pointer;
}
.container .body .left .foizz {
  position: absolute;
  width: 257.35px;
  height: 39.29px;
  left: 130px;
  top: 379.18px;
  /* Secondary Shade - 1 */
  background: #172656;
}
.container .body .left .foizz .foiz {
  color: white;
  text-align: center;
  padding-top: 11px;
}
.container .body .left h1 {
  position: absolute;
  width: 537px;
  height: 162px;
  left: 130px;
  top: 428.62px;
  /* H1 - 62pt - Bold */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 130%;
  /* or 81px */
  /* White */
  color: #FFFFFF;
}
.container .body .left .mo {
  position: absolute;
  width: 461.26px;
  height: 58.71px;
  left: 130px;
  top: 625.27px;
  /* Normal Text - 16pt - Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  /* White Shade - 1 */
  color: #868695;
}
.container .body .left .inn {
  box-sizing: border-box;
  position: absolute;
  width: 450px;
  height: 55px;
  left: 130px;
  top: 733.06px;
  /* White Shade - 2 */
  border: 1px solid #626276;
  border-radius: 18px;
  display: flex;
  color: #626276;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}
.container .body .left .inn .ss {
  display: flex;
}
.container .body .left .inn .ss i {
  padding-right: 10px;
  font-size: 17px;
}
.container .body .left .inn .ss p {
  font-size: 13px;
}
.container .body .left .inn button {
  padding: 9px 17px;
  font-weight: bold;
  border-radius: 6px;
  color: rgb(255, 190, 11);
  border: 1px solid rgb(255, 190, 11);
  background: transparent;
  cursor: pointer;
}
.container .body .right img {
  position: absolute;
  width: 800px;
  left: 680px;
  top: 221.56px;
}
.container .body2 .leftt img {
  position: absolute;
  width: 724.35px;
  height: 819.44px;
  left: 52.47px;
  top: 1165.76px;
}
.container .rightt .ser {
  position: absolute;
  width: 231.93px;
  height: 39.29px;
  left: 776.82px;
  top: 1379px;
  /* Secondary Shade - 1 */
  background: #172656;
}
.container .rightt .ser .serr {
  color: white;
  text-align: center;
  padding-top: 11px;
}
.container .rightt h1 {
  position: absolute;
  width: 533.18px;
  height: 193.04px;
  left: 776.82px;
  top: 1436.59px;
  /* H2 - 48pt - Bold */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */
  /* White */
  color: #FFFFFF;
}
.container .rightt .sifr .tor h1 {
  position: absolute;
  width: 98px;
  height: 49px;
  left: 776.82px;
  top: 1699.53px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  /* or 49px */
  /* Primary */
  color: #FFBE0B;
}
.container .rightt .sifr .tor p {
  position: absolute;
  width: 203.34px;
  height: 44.29px;
  left: 776.82px;
  top: 1761.97px;
  /* Small Text 2 - 14pt - Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  /* White Shade - 1 */
  color: #868695;
}
.container .rightt .sifr .torr h1 {
  position: absolute;
  width: 79px;
  height: 49px;
  left: 1077.5px;
  top: 1699.53px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  /* or 49px */
  /* Accent 2 */
  color: #FB5607;
}
.container .rightt .sifr .torr p {
  position: absolute;
  width: 203.34px;
  height: 44.29px;
  left: 1077.5px;
  top: 1761.97px;
  /* Small Text 2 - 14pt - Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  /* White Shade - 1 */
  color: #868695;
}
.container .rightt .sifr .chiz {
  position: absolute;
  width: 0px;
  height: 76.33px;
  left: 1028.83px;
  top: 1725.41px;
  /* White Shade - 2 */
  border: 1px solid #626276;
}/*# sourceMappingURL=style.css.map */